<%= render "shared/header" %>

  <div class="top_content">
    <h1>
      企業一覧
    </h1>
  </div>

  <div class="middle_content">
    <div class="company_information">
      <ul class="divided_company_info">
        <div class="first_company">
          <li class= "top">
            情報
          </li>
          <li class="middle">
            会社名
          </li>
          <li class="low">
            応募状況
          </li>
        </div>

        <div class="second_company">
          <li class= "top">
            情報
          </li>
          <li class="middle">
            会社名
          </li>
          <li class="low">
            応募状況
          </li>
        </div>

        <%# ３社目 %>
        <div class="third_company">
          <li class= "top">
            情報
          </li>
          <li class="middle">
            会社名
          </li>
          <li class="low">
            応募状況
          </li>
        </div>

      </ul>
    </div>
  </div>

  <div class="low_content">
    <h1>
      人気の企業一覧
    </h1>
    ここにいいね件数の多い会社を出力する
  </div>


<%= render "shared/footer" %>