.subject ,.company_name {
  font-size: 30px;
  width: 50%;
  position: relative;
  padding: 0.2em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  color: white;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
}

.accepting{
  display: flex;
}

.link_btn{
  background-color: aqua;
  width: 20vw;
}

.business_contents{
  margin: 10px;
  width: 20vw;
  font-size: 20px;
}

.likes{
  margin: 10px;
}

.book_mark{
  margin: 10px;
}

.student_applicants{
  margin: 10px;
}

.company_img{
  height: 33vh;
  width: 33vw;
}

.top_container{
  text-align: center;
}

.company_information{
  display: flex;
}

.company_table{
  margin:0 auto;
}

