header{
  height: 10%;
  display: flex;
  justify-content: space-between;
  width: 95%;
  background-image: url('facebook_cover_photo_2.png');
}

.logo{
  font-size: 50px;
}


.navi{
  display: flex;
}


.top_logo_company{
  list-style: none;
}

.top_logo_student{
  list-style: none;
}