<h1>Likes#destroy</h1>
<p>Find me in app/views/likes/destroy.html.erb</p>

$('#like-btn-<%= @business.id %>').html("<%= escape_javascript(render partial: "likes/like", locals: { business: business }) %>");
