.divided_company_info{
  list-style: none;
  width: 15%;
}

.top_title{
  background-color: coral;
}


.low_content{
  background-color: chartreuse;
}

.company_information{
  display: flex;
}

.business_img{
  height: 33vh;
  width: 33vh;
}

.low_title{
  background-color: coral;
}

.divided_company_ranking{
  list-style: none;
  width: 15%;
}

.company_ranking{
  display: flex;
}