.subject{
  font-size: 30px;
  width: 100%;
  position: relative;
  padding: 0.2em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(202, 173, 170), #ffc994);
  background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  color: white;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
}

.divided_company_info{
  list-style: none;
  width: 15%;
}

.company_information{
  display: flex;
}

.business_img{
  height: 33vh;
  width: 33vh;
}

.divided_company_ranking{
  list-style: none;
  width: 15%;
}

.company_ranking{
  display: flex;
}

/* .divided_company_ranking{
  list-style: none;
  width: 15%;
  transition-duration: 0.2s;
} */

/* .divided_company_ranking:hover{
  transform: translate(20px);
} */
